<!-- Shared Header Component -->
<header>
   <nav class="navbar navbar-expand-lg navbar-light w-100">
      <div class="container px-3">
         <!-- Use logo-fixed-height class to limit image height and prevent oversized images -->
         <a class="navbar-brand" href="./index.html">
             <img src="./assets/images/workshop/logo-wight.jpg" alt="logo" class="logo-fixed-height" />
         </a>
         <button class="navbar-toggler offcanvas-nav-btn" type="button">
            <i class="bi bi-list"></i>
         </button>
         <div class="offcanvas offcanvas-start offcanvas-nav" style="width: 20rem">
            <div class="offcanvas-header">
               <a href="./index.html" class="text-inverse"><img src="./assets/images/workshop/logo-wight.jpg" alt="logo" class="logo-fixed-height" /></a>
               <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body pt-0 align-items-center">
               <ul class="navbar-nav mx-auto align-items-lg-center">
                  <li class="nav-item">
                     <a class="nav-link" href="./index.html">Home</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="./index.html#speakers">Speakers</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="./index.html#schedule">Schedule</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="./index.html#organizers">Organizers</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="./call-for-paper.html">Call for Paper</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="./accepted-papers.html">Accepted Papers</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="./challenge.html">Challenge</a>
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </nav>
</header>